:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #da3232ff;
}
body {
  margin: 0;
  min-height: 100vh;
}

.split-screen {
  display: flex;
  height: 100vh;
}

.left-side,
.right-side {
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
}

.left-side {
  background-color: #00ff91ff; /* verde solo para App */
}

.right-side {
  background-color: white;
  color: black;
}


